@page "/Control"
@using PrintApp.Logic
@using PrintApp.BlazorHost.Pages.Connected.ControlComponents
@inject PrintersManager  PrintersManager

<h1>Control Page</h1>

<h5>Set temps, move axes, GCode terminal, starting / pausing / stopping prints and more!</h5>

<input type="submit" @onclick="@DisableSteppers" value="Disable Steppers" />

<input type="submit" @onclick="@AutoHome" value="Auto Home" />

<input type="submit" @onclick="@PreheatNozzle" value="Preheat Nozzle" />

<input type="submit" @onclick="@PreheatBed" value="Preheat Bed" />

<input type="range" @bind="@fanSpeed" min="0" max="255" step="1" />

<input type="submit" @onclick="@UpdateFanSpeed" value="Update Fan Speed" />

<div class="inner-controls">
    <TerminalComponent />
    <StartPrint />
</div>

@code {
    private int fanSpeed = 0;

    private void DisableSteppers()
    {
        PrintersManager.CurrentPrinter.WriteCommand("M18");
    }

    private void AutoHome()
    {
        PrintersManager.CurrentPrinter.WriteCommand("G28");
    }

    private void PreheatNozzle()
    {
        PrintersManager.CurrentPrinter.WriteCommand("M104 S210");
    }

    private void PreheatBed()
    {
        PrintersManager.CurrentPrinter.WriteCommand("M140 S60");
    }

    private void UpdateFanSpeed()
    {
        PrintersManager.CurrentPrinter.WriteCommand($"M106 S{fanSpeed}");
    }
}
